<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img th:src="@{/image/logo.png}" height="170" width="230" alt="Logo de l'application">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Termes et conditions</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#"><img th:src="@{/image/fb.png}" height="50" width="50" alt="Facebook"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Sparring App. Tous droits réservés.</p>
    </div>
</footer>