<nav class="navbar" th:fragment="header">
    <div class="col-6">
        <a class="navbar-brand" href="#">
            <img th:src="@{/image/logo.png}" width="80" height="80" class="d-inline-block align-top"  alt="">
        </a>
    </div>
    <div class="col-6">
        <div class="navbar-nav">
            <a class="nav-item nav-link " th:href="#">À PROPOS DE NOUS</span></a>
            <a class="nav-item nav-link" th:href="#">BLOG</a>
            <a class="nav-item nav-link" th:href="#">SE CONNECTER</a>
            <button type="button" class="btn btn-warning btn-inscription">COMMENCER L'ESSAI GRATUIT</button>
        </div>
    </div>
</nav>