row{
    margin: 0 !important;
    padding: 0 !important;
}

.navbar{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2E2C2C;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 1;

}

.contact-bloc{
    margin: 0 !important;
    padding: 0 !important;
}

.logo-registration{
    display: flex ;
    justify-content: center;
}

.registration{
    margin-bottom: 10%;
}

.form-register{
    padding-left: 20%;
    padding-right: 20%;
}

.form-input-bloc{
    margin-bottom: 4%;
}

.form-btn-bloc{
    margin-top: 7%;
    text-align: center;
}
.nav-link{
    color: white;
    font-weight: bold;
    padding-right: 3% !important;
}

.contact-image{
    background-image: url("../image/boxing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-registration{
    width: 100%;
    border-radius: 100px !important;
    background-color: #2E2C2C !important;
    margin-bottom: 3%;
    color: white !important;
}

.backgound-registration{
    background-image: url("../image/boxing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel{
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.navbar-nav{
    align-items: center;
    display: flex;
    flex-direction: row !important;
    justify-content: end;
}

.slogant{
    font-family: Degular, sans-serif;
    font-weight: 800;
    margin-bottom: 2%;
    letter-spacing: 2px;
    color: white;
    font-size: 44px;
    text-transform: uppercase;
}

.btn-inscription{
    text-transform: uppercase;
    background-color: #F1EF17 !important;
    color: #2E2C26 !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    border: 1px solid;
    border-radius: 100px !important;
}
.presentation{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #C9C5BF;
}

.presentation-titre{
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.caracteristique-title{
    font-size:12px;
    font-weight: 500;
}

.caracteristique-partenaire-title, 
.caracteristique-localisation-title, 
.caracteristique-niveau-title,
.caracteristique-sessions-title{
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img {
    max-width: 100px;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
    margin-right: 25px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
    }
    
    .footer-social a {
        margin: 10px;
    }
}

.contact-msg-title{
    font-size: 28px;
    font-family: 'Suisse Intl', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.contact-form{
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 11% !important;
    padding-right: 9% !important;
}

.btn-connexion{
    background-color: #2E2C2C !important;
    color: white !important;
}

i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .succes-bloc{
    display: flex;
    justify-content: center;
  }

  .nav-admin{
    margin-right: 23%;
  }

  .admin-body{
    padding-top: 8%;
  }

  .admin-bloc{
    margin-left: 4% !important;
    display: flex;
    flex-direction: column;
  }

  .title-sport{
    font-size: 27px;
    font-weight: bold;
  }

  .messageBienvenu-bloc{
    margin-left: 4% !important;
    background-image: url(../image/backRed.jpg);
    border-radius: 20px;
    padding: 2%;
    padding-left: 2% !important;
    margin-bottom: 2%;
  }

  .messageBienvenu-text{
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

  .img-account-profile {
    padding-bottom: 5%;
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.profil-bloc{
    padding-top: 8%;
}