<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="row" th:fragment="registration">
        <div class="col-6 registration">
            <div class="logo-registration">
                <img th:src="@{/image/logo.png}" width="300" height="300" class="d-inline-block align-top" alt="">
            </div>
            <div class="form-register">
                <form>
                    <div class="form-input-bloc">
                        <input class="form-control form-control-lg input-registration" type="text" placeholder="Prénom">
                    </div>
                    <div class="form-input-bloc">
                        <input class="form-control form-control-lg input-registration" type="text" placeholder="Nom de famille">
                    </div>
                    <div class="form-input-bloc">
                        <input class="form-control form-control-lg input-registration" type="email" placeholder="E-mail">
                    </div>
                    <div class="form-input-bloc">
                        <input class="form-control form-control-lg input-registration" type="password" placeholder="Mot de passe">
                    </div>
                    <div class="form-btn-bloc">
                        <div>
                            <button type="submit" class="btn  btn-registration">Créer un compte</button>
                        </div>
                        <div>
                            <p>Vous avez déjà un compte? <span><a href="">Se connecter</a></span> </p>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-6 backgound-registration"></div>
    </div>
</body>